# After editing this file you need:
#
#    sudo systemctl daemon-reload
#    sudo systemctl restart catris
#    journalctl -fu catris
#
# Setup: copy to /etc/systemd/system/catris.service and run:
#
#    sudo systemctl enable catris
#    sudo systemctl start catris
#    sudo systemctl status catris
#    journalctl -fu catris

[Unit]
Description=catris

[Service]
ExecStart=/home/catris/catris
Environment="RUST_BACKTRACE=1"
Environment="CATRIS_WEBSOCKET_PROXY_IP=127.0.0.1"

# adduser --system catris
WorkingDirectory=/home/catris
User=catris
Group=nogroup

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
