# Copy to /etc/systemd/system/catris.service and run:
#
#    systemctl enable catris
#    systemctl start catris
#    systemctl status catris
#    journalctl -fu catris
#
# Also add to end of /etc/sysctl.conf:
#
#    net.ipv4.tcp_keepalive_time = 180
#    net.ipv4.tcp_keepalive_intvl = 180

[Unit]
Description=catris

[Service]
ExecStart=/usr/bin/python3 -m catris --lobbies

# adduser --system catris
WorkingDirectory=/home/catris
User=catris
Group=nogroup

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
